Flask
pyjwt
flask-restplus
flask-sqlalchemy
flask-cors
flask-admin
# Security develop, to handle latest flask-login...
git+git://github.com/mattupstate/flask-security
# flask-security
# flask-login == 0.3.0
simplejson
